@use "sass:color";
@use "./variables" as v;

@mixin flexCenter($direction: row) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

@mixin buttonStyle($bg-color) {
  background-color: $bg-color;
  color: white;
  border: none;
  padding: v.$spacing-small v.$spacing-medium;
  border-radius: v.$border-radius;
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: color.adjust($bg-color, $lightness: -10%);
  }
}

@mixin tableCell {
  padding: v.$spacing-small;
  border: 1px solid v.$background-color;
  text-align: left;
}

@mixin varianceColor($value) {
  color: if($value > 0, v.$secondary-color, v.$primary-color);
}
